<div class="auth-forms">
  <h2>Add a language</h2>
  <p>Just don't mess it up.</p>

  <form name="languageform" novalidate ng-submit="addLanguage()">
    <code ng-show="error">{{error}}</code>
    <input type="text" placeholder="Name of Language" name="lang" class="form-control" ng-model="language.name"/>
    <input type="text" placeholder="Native name" name="native-name" class="form-control" ng-model="language.localName"/>
    <input type="submit" value="Add This Language" class="button"/>
  </form>
</div>
<ul ng-repeat="language in data.languages | orderByPriority | orderObjects: 'name'">
 <li>{{language.name}}</li>
</ul>