<div class="auth-forms">
  <h2>{{ message }}</h2>

  <form name="loginform" novalidate ng-submit="login()">
    <code ng-show="error">{{error}}</code>
    <input type="email" placeholder="yourname@email.com" name="email" id="email" class="form-control" ng-model="user.email"/>
    <input type="password" placeholder="password" name="password" id="password" class="form-control" ng-model="user.password"/>
    <input type="submit" value="Log In" class="btn btn-primary"/>
  </form>
  <p ng-show="err" class="error">{{err}}</p>
</div>