<div class="contain-to-grid" ng-controller="NavCtrl">
  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <ul class="left">
        <a class="navbar-brand" href="#">Prototype</a>
      </ul>
    </section>


    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right" ng-show="auth.user">
        <li><a href="#/account"><img ng-src="http://www.gravatar.com/avatar/{{ auth.user.md5_hash }}" class="nav-pic" /> {{user.username}}</a></li>
        <li>
          <a href="#" ng-click="logout()">Logout</a>
        </li>
      </ul>
      <ul class="right" ng-hide="auth.user">
        <li><a href="#/register">Register</a></li>
        <li>
          <a href="#/login">Login</a>
        </li>
      </ul>
    </section>

  </nav>
</div>
